XWS_PROJEKAT/XWS_Svc/Shared/Model/XSD/ZahtevZaDobijanjeIzvoda.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
		targetNamespace="http://schemas.datacontract.org/2004/07/Shared.Model.XSD"
		elementFormDefault="qualified"
		xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.Model.XSD"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="ZahtevZaDobijanjeIzvoda">
		<xs:sequence>
			<xs:element minOccurs="0" name="IDZZDI" type="xs:dateTime" />
			<xs:element minOccurs="0" name="BrRacuna" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="Datum" nillable="true" type="xs:dateTime" />
			<xs:element minOccurs="0" name="RedniBrPreseka" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>